.single-playlist-main {
  width: calc(100% - 16% - 20px);
  padding: 10px 0;
  position: relative;
  left: 15%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.single-playlist-main h2 {
  text-align: center;
}

.playlist-video-div .fa-circle-xmark {
  cursor: pointer;
}
